{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="card container-fluid">
    <div class="card-header">
      <div class="card-tools">
        <a href="#" class="btn btn-tool">Print</a>
        <a href="{% url 'edit_student' student.pk %}" class="btn btn-tool">
          <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'delete_student' student.pk %}" class="btn btn-tool">
          <i class="fas fa-times"></i>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          <div class="row mb-2">
              <img src="{% if student.person.passport %}{{ student.person.passport.url }}{% else %}{% static 'vendor/adminlte/img/avatar.png' %}{% endif %}" class="float-left rounded-circle mr-3" style="width: 120px; height: 120px;">
            <div class="float-right">
              <h4>{{ student.person.surname }}</h4>
              <h4>{{ student.person.firstname }}</h4>
              <h4>{{ student.person.other_name }}</h4>
              <h4>{{ student.person.matricule }}</h4>
            </div>
          </div>
          <div class="row">
            <h5>{{ student.get_current_class.subclass }}</h5>
          </div>
          <div class="row">
            <h5>{{ student.person.get_gender_display }} | {{ student.person.get_status_display }}</h5>
          </div>
        </div>
        <div class="col-sm-8">
          <table class="table">
            <tr>
              <th>Date of Birth</th>
              <td>{{ student.person.date_of_birth }}</td>
            </tr>

            <tr>
              <th>Parent Mobile Number</th>
              <td>{{ student.person.mobile_number}}</td>
            </tr>

            <tr>
              <th>Address</th>
              <td>{{ student.person.address }}</td>
            </tr>
            <tr>
              <th>Comments</th>
              <td>{{ student.person.others }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <h4>Invoice/Payment History</h4>
      {% if payments %}
        <table class="table table-sm table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th>For</th>
              <th>Amount Payable</th>
              <th>Amount Paid</th>
              <th>balance</th>
            </tr>
          </thead>
          <tbody>
            {% for payment in payments %}
              <tr class='clickable-row' data-href="{% url 'invoice_details' payment.pk %}">
                <td>{{ payment.term }}</td>
                <td>{{ payment.total_amount_payable }}</td>
                <td>{{ payment.total_amount_paid }}</td>
                <td>{{ payment.balance }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
          <p>There are no payment history for {{ student }}</p>
      {% endif %}
    </div>
</div>
{% endblock %}
