{% extends 'index.html' %}
{% block content %}
<div class="container-fluid card">
  <div class="card-header">
    <a class="btn btn-primary" href="{% url 'new_student' %}"><i class="fas fa-plus"></i> {{ _("add_student") | capfirst }}</a>
    <a class="btn btn-primary" href="#"><i class="fas fa-upload"></i> {{ _("bulk_student") | capfirst }}</a>
    <a class="btn btn-success" href="{% url 'id_cards' %}"><i class="fas fa-id-card"></i> {{ _("generate_id_card") | capfirst }}</a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table id="students_table" class="table table-bordered table-hover" data-page-length='100'>
        <thead class="thead-light">
          <tr>
            <th>{{ _("serial_number") | capfirst }}</th>
            <th>{{ _("fullname") | capfirst }}</th>
            <th>{{ _("student_id") | capfirst }}</th>
            <th>{{ _("current_status") | capfirst }}</th>
            <th>{{ _("gender") | capfirst }}</th>
            <th>{{ _("parent_mobile_number") | capfirst }}</th>
            <th>{{ _("status") | capfirst }}</th>
            <th>{{ _("option") | capfirst }}</th>
          </tr>
        </thead>
        <tbody>
            {% for class_student in class_students %}
            <tr class='clickable-row' data-href="{% url 'student_details' class_student.student.pk %}">
                <td>{{ forloop.counter }}</td>
                <td>{{ class_student.student.person.lastname }} {{ class_student.student.person.firstname }} {{ class_student.student.person.other_name }}</td>
                <td>{{ class_student.student.person.matricule }}</td>
                <td>{{ class_student.student.get_current_class.subclass }}</td>
                <td>{{ class_student.student.person.get_gender_display }}</td>
                <td>{{ class_student.student.person.mobile_number }}</td>
                <td>{{ class_student.student.person.get_status_display }}</td>
                <td class="row text-center">
                  <a class="col btn" href="{% url 'student_details' class_student.student.pk %}"><i class="fa fa-eye text-primary"></i></a>
                  <a class="col btn" href="{% url 'edit_student' class_student.student.pk %}"><i class="fa fa-edit text-primary"></i></a>
                  <a class="col btn" href="{% url 'delete_student' class_student.student.pk %}"><i class="fa fa-trash-alt text-primary"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $('#students_table').DataTable({});
</script>
{% endblock %}