{% extends 'index.html' %}
{% block content %}
<div class="container-fluid card">
  <div class="card-header">
    <a class="btn btn-primary" href="{% url 'new_staff' %}"><i class="fas fa-plus"></i> {{ _("add_staff") | capfirst }}</a>
    <a class="btn btn-primary" href="#"><i class="fas fa-upload"></i> {{ _("bulk_staffs") | capfirst }}</a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table id="staffs_table" class="table table-bordered table-hover" data-page-length='100'>
        <thead class="thead-light">
          <tr>
            <th>{{ _("serial_number") | capfirst }}</th>
            <th>{{ _("fullname") | capfirst }}</th>
            <th>{{ _("staff_id") | capfirst }}</th>
            <th>{{ _("is_teacher") | capfirst }}</th>
            <th>{{ _("diploma") | capfirst }}</th>
            <th>{{ _("gender") | capfirst }}</th>
            <th>{{ _("mobile_number") | capfirst }}</th>
            <th>{{ _("status") | capfirst }}</th>
            <th>{{ _("option") | capfirst }}</th>
          </tr>
        </thead>
        <tbody>
            {% for staff in staffs %}
            <tr class='clickable-row' data-href="{% url 'staff_details' staff.pk %}">
                <td>{{ forloop.counter }}</td>
                <td>{{ staff.person.lastname }} {{ staff.person.firstname }} {{ staff.person.other_name }}</td>
                <td>{{ staff.person.matricule }}</td>
                <td>{% if staff.is_teacher %}Yes{% else %}No{% endif %}</td>
                <td>{{ staff.diploma }}</td>
                <td>{{ staff.person.get_gender_display }}</td>
                <td>{{ staff.person.mobile_number }}</td>
                <td>{{ staff.person.get_status_display }}</td>
                <td class="row text-center">
                  <a class="col btn" href="{% url 'staff_details' staff.pk %}"><i class="fa fa-eye text-primary"></i></a>
                  <a class="col btn" href="{% url 'edit_staff' staff.pk %}"><i class="fa fa-edit text-primary"></i></a>
                  <a class="col btn" href="{% url 'delete_staff' staff.pk %}"><i class="fa fa-trash-alt text-primary"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $('#staffs_table').DataTable({});
</script>
{% endblock %}