{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="card container-fluid">
    <div class="card-header">
      <div class="card-tools">
        <a href="#" class="btn btn-tool">{{ _("print") | capfirst }}</a>
        <a href="{% url 'edit_staff' staff.pk %}" class="btn btn-tool">
          <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'delete_staff' staff.pk %}" class="btn btn-tool">
          <i class="fas fa-times"></i>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          <div class="row mb-2">
              <img src="{% if staff.person.passport %}{{ staff.person.passport.url }}{% else %}{% static 'vendor/adminlte/img/avatar4.png' %}{% endif %}" class="float-left rounded-circle mr-3" style="width: 120px; height: 120px;">
            <div class="float-right">
              <h4>{{ staff.person.lastname }}</h4>
              <h4>{{ staff.person.firstname }}</h4>
              <h4>{{ staff.person.other_name }}</h4>
              <h4>{{ staff.person.matricule }}</h4>
            </div>
          </div>
          <div class="row">
            <h5>{{ staff.get_current_class.subclass }}</h5>
          </div>
          <div class="row">
            <h5>{{ staff.person.get_gender_display }} | {{ staff.person.get_status_display }}</h5>
          </div>
        </div>
        <div class="col-sm-8">
          <table class="table">
            <tr>
              <th>{{ _("birth_date") | capfirst }}</th>
              <td>{{ staff.person.date_of_birth }}</td>
            </tr>

            <tr>
              <th>{{ _("mobile_number") | capfirst }}</th>
              <td>{{ staff.person.mobile_number }}</td>
            </tr>

            <tr>
              <th>{{ _("diploma") | capfirst }}</th>
              <td>{{ staff.diploma }}</td>
            </tr>

            <tr>
              <th>{{ _("address") | capfirst }}</th>
              <td>{{ staff.person.address }}</td>
            </tr>
            <tr>
              <th>{{ _("other_name") | capfirst }}</th>
              <td>{{ staff.person.others }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <h4>{{ _("titled_classes") | capfirst }}</h4>
      {% if staff.is_titular %}
        <table class="table table-sm table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th>{{ _("class") | capfirst }}</th>
              <th>{{ _("subclass") | capfirst }}</th>
            </tr>
          </thead>
          <tbody>
            {% for classe in staff.classtitular_set.all %}
              <tr>
                <td>{{ classe.subclass.parent }}</td>
                <td>{{ classe.subclass }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
          {# Translators: We want inform the user that this staff is not a titular #}
          <p>{{ _("not_titutlar") | capfirst }}</p>
      {% endif %}
    </div>
</div>
{% endblock %}
