{% extends 'object_form.html' %}
{% load humanize %}

{% block extra %}
{{items.management_form }}
<div class="col-sm-6 callout callout-info">
  {{ items.management_form }}
  <div class="text-center"><strong>{{ _("subclasses") | upper }}</strong></div>
  <div class="row">&nbsp;</div>
  {% for item in items %}
    {% for label, error in item.errors.items %}
  <div class="row">
    <span>{{ error.as_text }}</span>
  </div>
    {% endfor %}
  <div class="form-group row items-group">
    {{ item.id.as_hidden }}
    <div class="col">{{ item.name }}</div>
    <div class="col-1">
      <div onclick="remove(this)">
        {{ item.DELETE.as_hidden }}
        <div class="btn btn-danger"><i class="fa fa-trash"></i></div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  function remove(e) {
    $(e).find('input').val(1);
    $(e).parent().parent().hide();
  }
</script>
{% endblock %}