{% extends 'index.html' %}
{% load humanize %}
{% block content %}
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info clickable-row" data-href="{% url 'students' %}">
          <div class="inner">
            <h3>{{ nb_students | intcomma }}</h3>
            <p>{{ _("students") | capfirst }}</p>
          </div>
          <div class="icon">
            <i class="fas fa-user-graduate"></i>
          </div>
          <span class="small-box-footer">{{ _("more_info") | capfirst }} <i class="fas fa-arrow-circle-right"></i></span>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success clickable-row" data-href="{% url 'staffs' %}">
          <div class="inner">
            <h3>{{ nb_staffs | intcomma }}</h3>
            <p>{{ _("staffs") | capfirst }}</p>
          </div>
          <div class="icon">
            <i class="fas fa-user-tie"></i>
          </div>
          <span class="small-box-footer">{{ _("more_info") | capfirst }} <i class="fas fa-arrow-circle-right"></i></span>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning clickable-row" data-href="{% url 'classes' %}">
          <div class="inner">
            <h3>{{ nb_classes | intcomma }}</h3>

            <p>{{ _("classes") | capfirst }}</p>
          </div>
          <div class="icon">
            <i class="fas fa-chalkboard"></i>
          </div>
          <span class="small-box-footer">{{ _("more_info") | capfirst }} <i class="fas fa-arrow-circle-right"></i></span>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger clickable-row" data-href="{% url 'invoices' %}">
          <div class="inner">
            <h3><span>{{ total_incomes | intword }}</span> {{ request.system_config.currency|default:"CURRENCY" }}</h3>

            <p>{{ _("incomes") | capfirst }}</p>
          </div>
          <div class="icon">
            <i class="fas fa-dollar-sign"></i>
          </div>
          <span class="small-box-footer">{{ _("more_info") | capfirst }} <i class="fas fa-arrow-circle-right"></i></span>
        </div>
      </div>
      <!-- ./col -->
    </div>
  </div><!-- /.container-fluid -->
{% endblock %}