{% extends 'index.html' %}
{% block content %}
<div class="container-fluid card">
  <div class="card-header">
    <a class="btn btn-primary" href="{% url 'new_subclass' %}"><i class="fas fa-plus"></i> New subclass</a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table id="subclasses_table" class="table table-bordered table-hover" data-page-length='100'>
        <thead class="thead-light">
          <tr>
            <th>S/N</th>
            <th>Parent</th>
            <th>Name</th>
            <th>Option</th>
          </tr>
        </thead>
        <tbody>
          {% for subclass in subclasses %}
          <tr class='clickable-row' data-href="{% url 'edit_subclass' subclass.pk %}">
              <td>{{ forloop.counter }}</td>
              <td>{{ subclass.parent }}</td>
              <td>{{ subclass.name }}</td>
              <td class="row text-center">
                <a class="col btn" href="{% url 'edit_subclass' subclass.pk %}"><i class="fa fa-edit text-primary"></i></a>
                <a class="col btn" href="{% url 'delete_subclass' subclass.pk %}"><i class="fa fa-trash-alt text-primary"></i></a>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $('#subclasses_table').DataTable({});
</script>
{% endblock %}