{% extends 'index.html' %}
{% block content %}
<div class="container-fluid card">
  <div class="card-header">
    <a class="btn btn-primary" href="{% url 'new_term' %}"><i class="fas fa-plus"></i> New term</a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table id="terms_table" class="table table-bordered table-hover" data-page-length='100'>
        <thead class="thead-light">
          <tr>
            <th>S/N</th>
            <th>Name</th>
            <th>Is current?</th>
            <th>Option</th>
          </tr>
        </thead>
        <tbody>
          {% for term in terms %}
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ term.name }}</td>
              <td>{{ term.current }}</td>
              <td>
                <a href="{% url 'edit_term' term.pk %}"><i class="fa fa-edit"></i></a>
                <a href="{% url 'delete_term' term.pk %}"><i class="fa fa-trash-alt"></i></a>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $('#terms_table').DataTable({});
</script>
{% endblock %}