{% extends 'index.html' %}
{% block content %}
<div class="card container-fluid">
  <form class="form" method="POST" enctype="multipart/form-data">
    <div class="card-body row">
      {% csrf_token %}
      <div class="col">
        {% for field in form %}
        <div class="form-group">
          <div class="row">
            {{ field.errors }}
          </div>
          <div class="row">
            <div class="col-sm-2 col-form-label">
                {{ field.label_tag }}
            </div>
            <div class="col-sm">
              {{ field }}
            </div>
          </div>
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="{% if form.instance.pk is None %}Create{% else %}Update{% endif %}">
      </div>
      {% block extra %}{% endblock %}
    </div>
    <!-- /.row -->
  </form>
  <!-- ./card-body -->
</div>
{% endblock %}