{% extends 'index.html' %}
{% load humanize %}

{% block content %}
<div class="container-fluid card">
  <div class="card-header">
    <a class="btn btn-primary" href="{% url 'new_invoice' %}"><i class="fas fa-plus"></i> {{ _("add_invoice") | capfirst }}</a>
    <a class="btn btn-primary" href="#"><i class="fas fa-upload"></i> {{ _("bulk_invoice") | capfirst }}</a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table id="invoicetable" class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th>{{ _("serial_number") | capfirst }}</th>
            <th>{{ _("invoice") | capfirst }}</th>
            <th>{{ _("term") | capfirst }}</th>
            <th>{{ _("total_payable") | capfirst }}</th>
            <th>{{ _("total_paid") | capfirst }}</th>
            <th>{{ _("balance") | capfirst }}</th>
            <th>{{ _("option") | capfirst }}</th>
          </tr>
        </thead>
        <tbody>

          {% for invoice in invoices %}
            <tr class='clickable-row' data-href="{% url 'invoice_details' invoice.pk %}">
              <td>{{ forloop.counter }}</td>
              <td>{{ invoice }}</td>
              <td>{{ invoice.term }}</td>
              <td>{{ invoice.total_amount_payable | intcomma }}</td>
              <td>{{ invoice.total_amount_paid | intcomma }}</td>
              <td>{{ invoice.balance | intcomma }}</td>
              <td class="row text-center">
                <a class="col btn" href="{% url 'invoice_details' invoice.pk %}"><i class="fa fa-eye text-primary"></i></a>
                <a class="col btn" href="{% url 'edit_invoice' invoice.pk %}"><i class="fa fa-edit text-primary"></i></a>
                <a class="col btn" href="{% url 'delete_invoice' invoice.pk %}"><i class="fa fa-trash-alt text-primary"></i></a>
              </td>
            </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}


{% block script %}
<script>
   $('#invoicetable').DataTable({});
</script>
{% endblock %}
