{% extends 'object_form.html' %}
{% load humanize %}

{% block extra %}
<div class="col-3">
  <div class="alert alert-info" role="alert">
    <h3>{{ _("invoice") | upper }}</h3>
    <p>{{ invoice | upper }}</p>
    <hr>
    <ul>
      <li>{{ _("term") | capfirst }}: {{ invoice.term }}</li>
      <li>{{ _("class") | capfirst }}: {{ invoice.student.get_current_class.subclass }}</li>
      <li>{{ _("total_amount_payable") | capfirst }}: {{ invoice.total_amount_payable | intcomma }}
      </li>
      <li>{{ _("total_amount_paid") | capfirst }}: {{ invoice.total_amount_paid | intcomma }}</li>
      <li><strong>{{ _("balance") | capfirst }}: {{ invoice.balance | intcomma }}</strong></li>
    </ul>
  </div>
</div>
{% endblock %}